div{
    padding:10px;
    width:80%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}



.heading {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: white;
    font-size: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
    font-size: 30px;
}



span{
   font-weight:700;
    font-style:italic;
}